body{
    margin-left: 3px;
    background: black;
}
label{
    font-size: 14px;
}
*{
    color: white;
    background: black;
}
div.code-samples{
    margin-left: 5px;
}
div.code-sample {
    margin: 5px 5px 15px;
    border-bottom: 2px solid black;
}
div.search-form {
    margin: 5px;
    border-right: 1px solid black;
}
.btn-copy{
    margin-left: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
}
.btn-show-code{
    margin-left: 10px;
    margin-top: 5px;
    padding: 0;
    height: 25px;
}
img.btn-copy{
    background: transparent;
    padding: 7px;
    margin-left: -6%;
    margin-top: -5px;
}
input.tags-input{
    font-size: 14px;
}
.hide-scrollbars::-webkit-scrollbar {
    width: 10px;
    --scrollbar-color: rgb(75, 138, 255);
}
.hide-scrollbars::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
.hide-scrollbars::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 0;
    border: 1px solid rgb(57, 48, 255);
}