<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code clipboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>

<div style="margin-top: 16px">
    <form method="post" action="/quit"><button type="submit">Exit</button></form>
    <a id="search-ref" href="/search">Search</a><br/><br/>
    <a id="submit-ref" href="/submit">Submit</a><br/>
</div>

<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>