<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<a href="/">Main</a>
<h2>Search by:</h2>
<div>
    <label for="language">Programming language</label>
    <select id="language" name="language" disabled>
        <option selected>Any</option>
        <option>Java</option>
    </select>
    <input type="checkbox" id="language-toggle">
</div><br/>
<div>
    <label for="substring">Substring</label><br/>
    <textarea id="substring" name="substring" rows="5" cols="40"></textarea>
    <input type="checkbox" id="substring-toggle" checked>
</div>

<div>
    <label for="tag-delim" hidden>Delimiter</label>
    <input type="text" id="tag-delim" name="tagDelim" maxlength="1" minlength="1"
           style="width: 10px" placeholder=";" disabled hidden>
    <label for="tags">Tags (separated by space): </label>
    <input type="text" id="tags" name="tags" disabled>
    <input type="checkbox" id="tags-toggle">
</div>

<button type="button" id="search-button">Search</button>
<script type="text/javascript" th:src="@{/js/search.js}"></script>
</body>
</html>